@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Montserrat:ital,wght@0,300;0,400;0,600;1,200;1,400;1,600&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 0.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  top: 0;
  left: 0;
  height: 100%;
}

nav.navbar div.container-fluid {
  background-color: #f9f6e4;
}

nav.navbar.navbar-expand-md.navbar-light.bg-light {
  padding-top: 0em;
  padding-bottom: 0em;
}

.navbar-light .navbar-nav .nav-link {
  text-decoration: none;
  color: #87826e;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-item .nav-link .active {
  color: #5fa79f;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #5fa79f;
}

object.cartIcon {
  width: 40px;
  margin-left: 4%; 
}

/* CONTENT */

.mainContents {
  background-image: url("assets/oriento-bAzDhilQFsA-unsplash.jpg");
  background-attachment: fixed;
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
}

h1.pageTitle {
  font-family: "Garamond";
  font-style: normal;
  font-size: 70px;
  color: #f9f6e4;
  margin-bottom: 0;
  margin-left: 15%;
  box-sizing: border-box;
  padding: 0;
}

hr.beige {
  color: #f9f6e4;
  margin: 0;
  opacity: 100%;
}

.wholeShop {
  background-color: #ba6548;
  width: 100vw;
}

.itemImage {
  background-size: cover;
  background-position: center;
  background-image: url("assets/HTB1RHASclGE3KVjSZFhq6AkaFXao.jpg");
}

div.ViewItemBtnContent {
  background: #f9f6e4;
  box-sizing: border-box;
  box-shadow: 1px 6px 4px 1px rgba(0, 0, 0, 0.25);
  width: 35%;
  height: 13%;
  outline: 0.5px solid #ba6548;
  outline-offset: -7px;
  display: none;
}

.viewBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewBtn:hover > div.ViewItemBtnContent {
  display: block;
}

.viewBtn:hover {
  background-color: rgba(186, 101, 72, 0.5);
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.ViewItemBtnContent h2 {
  font-family: "Montserrat";
  font-style: normal;
  line-height: 1.25;
  text-align: center;
  color: #ba6548;
}

.itemSet h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.itemSet h4 {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}

.itemSet p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.itemSet {
  direction: flex;
  flex-direction: column;
  color: #f9f6e4;
}

.itemPrice {
  text-align: center;
  margin: 5% 0 15% 0;
}

.row.first {
  padding: 10% 10% 0 10%;
}

.row.second,
.row.third {
  padding: 0 10% 3% 10%;
}

a.moreItems {
  text-align: center;
  text-decoration-line: underline;
  color: #f9f6e4;
  padding: 0 10% 10% 10%;
}

a.moreItems h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 5%;
}

/* FOOTER */

.footer {
  background-color: #f9f6e4;
  text-align: center;
}

.footerDivider {
  padding-top: 2%;
  width: 75%;
  padding-left: 2%;
}

.footer h2 {
  font-family: "Garamond";
  font-style: normal;
  font-size: 34px;
  color: #87826e;
}

.footer p {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #87826e;
  width: 30%;
  margin-left: 35%;
}

.emailLine {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.emailLine p {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  color: #5fa79f;
  margin-left: 25%;
  margin-right: 10%;
}

.line {
  width: 30%;
  height: 0;
  border: 2px solid #87826e;
  margin: 3px;
  display: inline-block;
}

.address {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 14px;
  color: #87826e;
  width: 15%;
}

.footer svg {
  margin: 1%;
}

.navLinksAgain {
  margin-top: 2%;
  margin-bottom: 5%;
}

.bottomNav {
  font-family: "Montserrat";
  font-size: 11px;
  color: #5fa79f;
  text-decoration: none;
  margin: 1%;
}

span {
  color: #5fa79f;
}

.greenThing {
  background-color: #3b5a57;
  height: 25px;
}

@media only screen and (max-width: 600px) {
  .square {
    height: 250px;
    margin: 0 15% 0 15%;
  }
  .topItem {
    padding-top: 10%;
  }
  .viewBtn {
    height: 250px;
  }
  .ViewItemBtnContent h2 {
    font-size: 13px;
    padding-top: 8%;
  }
}

@media only screen and (min-width: 600px) {
  .square {
    height: 300px;
    margin: 0 15% 0 15%;
  }
  .topItem {
    padding-top: 10%;
  }
  .viewBtn {
    height: 300px;
  }
  .ViewItemBtnContent h2 {
    font-size: 15px;
    padding-top: 8%;
  }
}

@media only screen and (min-width: 768px) {
  .square {
    height: 350px;
    margin: 0 15% 0 15%;
  }
  .topItem {
    padding-top: 10%;
  }
  .viewBtn {
    height: 350px;
  }
  .ViewItemBtnContent h2 {
    font-size: 17px;
    padding-top: 8%;
  }
}

@media only screen and (min-width: 900px) {
  .square {
    height: 400px;
    margin: 0 20% 0 20%;
  }
  .topItem {
    padding-top: 10%;
  }
  .viewBtn {
    height: 400px;
  }
  .ViewItemBtnContent h2 {
    font-size: 19px;
    padding-top: 8%;
  }
}

@media only screen and (min-width: 992px) {
  .topItem {
    padding-top: 0;
  }
  .square {
    margin: 0;
    height: 250px;
  }
  .viewBtn {
    height: 250px;
  }
  .ViewItemBtnContent h2 {
    font-size: 13px;
    padding-top: 10%;
  }
}

@media only screen and (min-width: 1100px) {
  .ViewItemBtnContent h2 {
    font-size: 14px;
    padding-top: 11%;
  }
}

@media only screen and (min-width: 1200px) {
  .square {
    height: 300px;
  }
  .viewBtn {
    height: 300px;
  }
  .ViewItemBtnContent h2 {
    font-size: 15px;
    padding-top: 10%;
  }
}

@media only screen and (min-width: 1400px) {
  .square {
    height: 350px;
  }
  .viewBtn {
    height: 350px;
  }
  .ViewItemBtnContent h2 {
    font-size: 19px;
    padding-top: 10%;
  }
}
@media only screen and (min-width: 1700px) {
  .square {
    height: 400px;
  }
  .viewBtn {
    height: 400px;
  }
}

/* FOOTER media query */

@media only screen and (max-width: 600px) {
  .footer h2 {
    font-size: 25px;
  }
  .footer p {
    font-size: 11px;
  }
  footer.footer svg {
    margin: 3%;
  }
}

@media only screen and (min-width: 600px) {
  .footer h2 {
    font-size: 25px;
  }
  .footer p {
    font-size: 11px;
    /* width: 50%; */
  }
}

@media only screen and (min-width: 768px) {
  .footer h2 {
    font-size: 30px;
  }
  .footer p {
    font-size: 11px;
  }
}

@media only screen and (min-width: 992px) {
  .footer h2 {
    font-size: 34px;
  }
  .footer p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
}
